<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Team BTS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <p class="lead"><b>Hospital</b></p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/openapi/hospital/gethsptlmdcnclistinfoinqire">open data</a>
            <a class="btn btn-lg btn-secondary" href="/hackathon/hospitals" th:style="${'width:40%'}">my hospital</a>
        </p>
        <br>
        <p class="lead"><b>Pharmacy</b></p>
        <p>
            <a class="btn btn-lg btn-dark" href="/openapi/pharmacy/getparmacylistinfoinqire">open data</a>
            <a class="btn btn-lg btn-dark" href="/hackathon/pharmacies" th:style="${'width:40%'}">my pharmacy</a>
        </p>
        <br>
        <p class="lead"><b>medical checkup</b></p>
        <p>
            <a class="btn btn-lg btn-info" href="/">open data</a>
            <a class="btn btn-lg btn-info" href="/" th:style="${'width:40%'}">my health</a>
        </p>
        <!--<a href="/openapi/samplemap"><p class="text-muted">sample map</p></a>
        <a href="/springmvchtml"><p class="text-muted">springmvc html</p></a>
        <a href="/openapi"><p class="text-muted">OpenAPI-data.go.kr</p></a>-->
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>
