<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>OpenAPI-data.go.kr</title>
</head>
<body>
<ul>
  <li>대기정보
    <ul>
      <li><a href="/getUlfptcaAlarmInfo">한국환경공단_에어코리아_미세먼지 경보 발령 현황</a></li>
    </ul>
    <ul>
      <li><a href="/getMsrstnAcctoRltmMesureDnsty">한국환경공단_에어코리아_대기오염정보1 : 측정소별 실시간 측정정보 조회</a></li>
    </ul>
    <ul>
      <li><a href="/getUnityAirEnvrnIdexSnstiveAboveMsrstnList">한국환경공단_에어코리아_대기오염정보2 : 통합대기환경지수 나쁨 이상 측정소 목록조회</a></li>
    </ul>
    <ul>
      <li><a href="/getCtprvnRltmMesureDnsty">한국환경공단_에어코리아_대기오염정보3 : 시도별 실시간 측정정보 조회</a></li>
    </ul>
    <ul>
      <li><a href="/getMinuDustFrcstDspth">한국환경공단_에어코리아_대기오염정보4 : 대기질 예보통보 조회</a></li>
    </ul>
    <ul>
      <li><a href="/getMinuDustWeekFrcstDspth">한국환경공단_에어코리아_대기오염정보5 : 초미세먼지 주간예보 조회</a></li>
    </ul>
  </li>
  <li>병/의원
    <ul>
      <li><a href="/getHsptlMdcncListInfoInqire">국립중앙의료원_전국 병·의원 찾기 서비스1 : 병/의원 목록정보 조회</a></li>
    </ul>
    <ul>
      <li><a href="/getHsptlMdcncLcinfoInqire">국립중앙의료원_전국 병·의원 찾기 서비스2 : 병/의원 위치정보 조회</a></li>
    </ul>
    <ul>
      <li><a href="/getHsptlBassInfoInqire">국립중앙의료원_전국 병·의원 찾기 서비스3 : 병/의원별 기본정보 조회</a></li>
    </ul>
    <ul>
      <li>국립중앙의료원_전국 병·의원 찾기 서비스4 : 달빛어린이병원 및 소아전문센터 목록정보 조회</li>
    </ul>
    <ul>
      <li>국립중앙의료원_전국 병·의원 찾기 서비스5 : 달빛어린이병원 위치정보 조회</li>
    </ul>
  </li>
  <li>약국
    <ul>
      <li><a href="/getParmacyListInfoInqire">국립중앙의료원-약국정보조회서비스1 : 약국 목록정보 조회</a></li>
    </ul>
    <ul>
      <li>국립중앙의료원-약국정보조회서비스2 : 약국 위치정보 조회</li>
    </ul>
    <ul>
      <li>국립중앙의료원-약국정보조회서비스3 : 약국별 기본정보 조회</li>
    </ul>
  </li>
</ul>
</body>
</html>