<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>OpenAPI-data.go.kr</title>
</head>
<body>
<ul>
  <li>대기정보
    <ul>
      <li><a href="/particulates1">한국환경공단_에어코리아_미세먼지 경보 발령 현황</a></li>
    </ul>
    <ul>
      <li><a href="/atmospheric1">한국환경공단_에어코리아_대기오염정보1</a></li>
    </ul>
    <ul>
      <li><a href="/getMinuDustFrcstDspth">한국환경공단_에어코리아_대기오염정보4</a></li>
    </ul>
  </li>
  <li>병/의원
    <ul>
      <li><a href="/hospital1">병/의원 목록정보 조회</a></li>

    </ul>
  </li>
  <li>약국
    <ul>
      <li><a href="/hospital">국립중앙의료원_국립중앙의료원_전국 병·의원 찾기 서비스</a></li>
      <li><a href="/pharmacy">국립중앙의료원_전국 약국 정보 조회 서비스</a></li>
    </ul>
  </li>
</ul>
</body>
</html>